@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Fjalla+One&display=swap');

.lgfrm {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding-bottom: 1%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 30vw;
  border-radius: 0 0 30px 30px;
}

.imx {
  width: 100%;
  /* border-radius: 100px; */
}

.txx {
  position: absolute;
  font-family: 'Fira Sans', sans-serif;
  color: #fff;
  left: 50%;
  top: 20%;
  font-size: 5rem;
}
.fields {
  padding: 0.5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.fields > * {
  padding: 5%;
}

.fields > *:focus {
  border: 1px solid;
}

.frm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btx {
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 25px;
  font-family: 'Fira Sans', sans-serif;
  padding: 0.5% 4%;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}

.btx:hover {
  background-color: #428bca;
  color: #fff;
}

.su {
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 25px;
  font-family: 'Fira Sans', sans-serif;
  padding: 0.5% 4%;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}

.su:hover {
  background-color: #d9534f;
  color: #fff;
  font-size: 27px;
  padding: 1% 6%;
}

.ix {
  margin-top: 5%;
  font-size: 15px;
}

@media (max-width: 720px) {
  .txx {
    left: 70%;
    top: 1%;
    transform: translateX(-50%);
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  .txx {
    left: 80%;
    top: 1%;
    transform: translateX(-50%);
    font-size: 2rem;
  }
}

@media (max-width: 1500px) {
  .txx {
    left: 80%;
    top: 1%;
    transform: translateX(-50%);
    font-size: 3rem;
  }
}
